body {
    font-family: 'Poppins', sans-serif !important;
    width: auto;
    height: auto;
}


.sous_titre {
    display: flex;
    justify-content: center;
    font-style: italic;
    padding: 0.5%;
    font-size: 1.2rem;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        background-color: blanchedalmond;
    }

    50% {
        background-color: #ffcc99;
    }

    100% {
        background-color: blanchedalmond;
    }
}

header {
    font-size: 1.5rem;
}

li {
    list-style: none;
    font-size: 1.6rem;
}


h1 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #fff2e6;
    font-size: 1.4rem;
    margin: 0px;
}

h3,
h4 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black !important;
}

a:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

main {
    padding: 3%;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center !important;

}

#cam_list div {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 20px;
    box-sizing: content-box !important;
}

#cam_list a {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #ffcc99 !important;
}


img {
    display: flex;
    justify-content: center !important;
    height: 250px;
}

.container {
    max-width: 960px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.lh-condensed {
    line-height: 1.25;
}

.commande {
    font-size: 2rem;
}

.footer_container {
    margin: 20px;
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 50px;
    max-width: 800px;
}

#bouton {
    padding-top: 30px;
    justify-content: space-around;
}

#btn-ajouter {
    color: black;
    background-color: #ffcc99;
    border-color: #ffcc99;
}

#btn-liste,
#btn-panier {
    background-color: #ffcc99;
    border-color: #ffcc99;
}

#quantiteProduit,
#lense-select {
    width: 300px;
}

#empty {
    padding: 7px;
    border-radius: 5px;
    background-color: #ffcc99;
    border-color: #ffcc99;
    margin: 20px;
    font-size: 0.8em;
}

#afficheProduitPanier div {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.btn-success {
    padding: 10px !important;
    border-radius: 5px !important;
    background-color: #ffcc99 !important;
    border-color: #ffcc99 !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
}

span {
    padding-left: 15px;
}

#btn_liste{
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 5px;
    background-color: #ffcc99;
    margin: 20px;
}

/********* PARTIE RESPONSIVE small screen **********/
@media screen and (max-width: 767px) {

    #lense-select,
    #quantiteProduit {
        max-width: 200px;
    }

    #bouton {
        max-width: 200px;
        flex-direction: column;
    }

    #btn-ajouter,
    #btn-liste,
    #btn-panier {
        font-size: 0.9em !important;
    }

    #product {
        padding-bottom: 0px;
    }

    #prixTotal {
        font-size: 1em !important;
        text-align: center;
        padding: 10px;
    }

    .btn {
        white-space: inherit !important;
    }

    img {
        height: 200px;
    }
}



/****** MEDIA QUERY tablet size ******/

@media screen and (min-width: 768px) and (max-width:1025px) {

    #lense-select,
    #quantiteProduit {
        max-width: 250px;
    }

    #btn-ajouter,
    #btn-liste,
    #btn-panier {
        font-size: 1em !important;
    }

    #product {
        padding-bottom: 0px;
    }

    img {
        height: 200px;
    }
}
