body {
    font-family: 'Poppins', sans-serif !important;
    width: auto;
    height: auto;
}


.sous_titre {
    display: flex;
    justify-content: center;
    font-style: italic;
    padding: 0.5%;
    font-size: 1.2rem;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        background-color: blanchedalmond;
    }

    50% {
        background-color: #ffcc99;
    }

    100% {
        background-color: blanchedalmond;
    }
}

header {
    font-size: 1.5rem;
}

li {
    list-style: none;
    font-size: 1.6rem;
}


h1 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #fff2e6;
    font-size: 1.4rem;
    margin: 0px;

}

h3,
h4 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black !important;
}

a:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

main {
    padding: 3%;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center !important;

}

#cam_list div {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 1em 16px;
    margin: 3em;
}

#cam_list a {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    color:coral !important;
}


img {
    display: flex;
    justify-content: center !important;
    height: 25%;
    width: 35%;
}

.container {
    max-width: 960px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.lh-condensed {
    line-height: 1.25;
}

.commande {
    font-size: 2rem;
}

.footer_container {
    margin: 20px;
}

#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    padding: 50px;
    max-width: 800px;
}

#titre,#image,#prix,#description,#lense-select,#quantiteProduit,#bouton{
    display: flex;
    justify-items: center;
    max-width: 500px;

}

#bouton{
    padding-top: 30px;
    justify-content: space-around;
}

.btn-secondary a{
    color: white !important;
}

#quantiteProduit,#lense-select{
    width: 300px;
}

#img_conf{
    opacity: 0.4;
    border-radius: 15px;
}
